{% load staticfiles %}
{% load postman_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/material.min.css' %}">
  <script src="{% static 'js/material.min.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 100px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color:#2c3e50;
}
body {
  display: flex;
}

.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: left;
}

#file_input_text_div {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
}

.none {
  display: none;
}

</style>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="overflow:hidden;">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><a href="/{{request.user.username}}/">GBPEC Portal</a></span>
      
      <div class="mdl-layout-spacer"></div>
       <span class="mdl-layout-title">Search</span>
      <div class="mdl-layout-spacer"></div>
      
     	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <form action="" method="POST">
        {%csrf_token%}
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="query"
                 id="waterfall-exp">
        </div>
        </form>
      </div>

     
</button>
<a id="demo-menu-lower-right" class="mdl-button mdl-js-button" style="text-transform:none; color:white;">
        {{ request.user.username }}<span><i class="material-icons">arrow_drop_down</i></span>
</a>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
  <li class="mdl-menu__item"><a class="" href="/{{ request.user.username }}/profile/">Profile</a></li>
  <li class="mdl-menu__item"><a class="" href="/{{ request.user.username }}/edit_profile/">Edit Profile</a></li>
  <li class="mdl-menu__item"><a class="" href="/">sign out</a></li>
  
</ul>
    
</div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><a href="/{{request.user.username}}/">GBPEC Portal</a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/messages/write/">Compose</a>
      
      <a class="mdl-navigation__link" href="/messages/inbox/"><span class="mdl-badge"{% postman_unread as unread_count %}
      {% if unread_count %} data-badge="{{ unread_count }}"{% endif %}>Inbox</span></a>
      
      <a class="mdl-navigation__link" href="/messages/sent/">Outbox</a>
      <a class="mdl-navigation__link" href="/messages/trash/">Trash</a>
      
      
    </nav>
  </div>
<style type="text/css">
	{border:1px solid red;}
</style>
  <main class="mdl-layout__content">
    <div class="page-content">
    	<div class="mdl-grid">
	    	<div class="mdl-cell mdl-cell--12-col" style="margin:0 auto;">
	    	{% if student %}
	    		<div class="mdl-grid">
	    			<div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-phone" style="margin:0 auto;">
						<h2>Students</h2>
					</div>
					<div class="mdl-cell mdl-cell--8-col" style="margin:0 auto;">
						{% for s in student %}
						<div style="display: flex;">
						{% if s.profile_pic %}
							<div style="width: 112px; height: 112px; border-radius: 50%;">
								<img src="{{ s.profile_pic.url }}" width="112px;" height="112px;" style="border-radius:inherit;">
							</div>
						{% else %}
						<i class="material-icons" style="font-size: 8em;">person</i>
						{% endif %}
						<div style="padding: 14px 48px;">
						<a href="/{{ s.username }}/profile/"><h5>{{ s.username }}</h5></a>
						</div>
						</div >
						<hr>
						{% endfor %}
						
							{% endif %}
						
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col" style="margin:0 auto;">
				<div class="mdl-grid">
				{% if teacher %}
			    	<div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-phone" style="margin:0 auto;">
						<h2>Teachers</h2>
					</div>
					<div class="mdl-cell mdl-cell--8-col" style="margin:0 auto;">
						{% for t in teacher %}
						<div style="display: flex;">
						{% if t.profile_pic %}
								<div style="width: 112px; height: 112px; border-radius: 50%;">
									<img src="{{ t.profile_pic.url }}" width="112px;" height="112px;" style="border-radius:inherit;">
								</div>
							{% endif %}
							{% if not t.profile_pic %}
							<i class="material-icons" style="font-size: 8em;">person</i>
							{% endif %}
						<div style="padding: 14px 48px;">
							<a href="/{{ t.username }}/profile/"><h5>{{ t.first_name|ljust:1 }}{% if t.middle_name %} {{ t.middle_name|ljust:'3' }}{% endif %}{% if t.last_name %}{{ t.last_name|ljust:"3" }}{% endif %}</h5></a>
							</div>
						</div>
						<hr>
						{% endfor %}
						{% endif %}
					</div>
				
			</div>
			<div class="mdl-cell mdl-cell--12-col" style="margin:0 auto;">
				
				{% if post %}
				<div class="mdl-grid">
				
					<div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-phone" style="margin:0 auto;">
						<h2>Posts</h2>
					</div>
					<div class="mdl-cell mdl-cell--8-col" style="margin:0 auto;">
					{% for p in post %}
						<div class="mdl-card mdl-shadow--6dp mdl-card--horizontal" style="margin-bottom: 10px; width: inherit; min-height: 180px;">
						  <div class="mdl-card__media">
						    
						  </div>
						    <div class="mdl-card__title">
						      <h2 class="mdl-card__title-text">{{ p.title }}</h2>
						    </div>
						    <div class="mdl-card__supporting-text">
						     classroom : {{ p.classroom }}
						     <br>
							{{ p.timestamp|timesince }} ago by {{ p.user }}
						    </div>
						    	
						</div>
						{% endfor %}

						
					</div>
				</div>
			{% endif %}

			</div>								
			<div class="mdl-cell mdl-cell--12-col" style="margin:0 auto;">
				<div class="mdl-grid">
				{% if classroom %}
					<div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-phone" style="margin:0 auto;">
						<h2>Classrooms</h2>
					</div>
					<div class="mdl-cell mdl-cell--8-col" style="margin:0 auto;">
						{% for c in classroom %}
						<div class="mdl-card mdl-shadow--6dp mdl-card--horizontal" style="margin-bottom: 10px; width: inherit; min-height: 180px;">
						  <div class="mdl-card__media">
						    
						  </div>
						    <div class="mdl-card__title">
						      <h2 class="mdl-card__title-text">{{ c.name }}</h2>
						    </div>
						    <div class="mdl-card__supporting-text">
						    	<p>description: {{ c.description|linebreaks}}</p>
						     classroom : {{ c.teacher }}
						     <br>
							{{ c.timestamp|timesince }}
							</div>
						    
						</div>
				
						{% endfor %}
		
						{% endif %}
					</div>
				</div>
			</div>
</div>
</div>
</div>
</main>
</div>
</body>
</html>