
{% extends "postman/base.html" %}
{% load i18n static %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}
{% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
                {% endfor %}
              </ul>
              <hr>
        {% endif %}

<div id="postman" class="mdl-card mdl-shadow--2dp" style="width: 100%;">
<div class="mdl-card__title">
    <h2 class="mdl-card__title-text" style="margin: 0 auto;">{% block pm_write_title %}{% endblock %}</h2>
 </div>
<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post" style="margin: 0 auto;, width: 100%; display: grid; {% if not request.is_phone %}padding: 30px;{% endif  %}">
{% csrf_token %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
    {{ form.recipients }}
    <label class="mdl-textfield__label" for="recepient">{% block pm_write_recipient %}{% endblock %} Recipients</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.subject }}
    <label class="mdl-textfield__label" for="subject">Subject</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.body }}
    <label class="mdl-textfield__label" for="textarea">Body</label>
</div>

<button type="submit"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Send" %}</button>
</form>
</div>
<script type="text/javascript">
    $("#textarea").css("height","150px");
</script>
{% endblock %}

<style type="text/css">
  #textarea{
    height: 150px;
  }
</style>
<script type="text/javascript">
  $("window").ready(function() {
  $(".is-invalid").removeClass("is-invalid");
});
</script>