{% if group %}
<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<button name="submit" type="submit"> create classroom</button>
	
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
</ul>
<hr>
{% endif %}

{% for c in class %}
	{{ c.name }}
	<br>
	{{ c.description }}
	<hr>
{% endfor %}
{% endif %}



{% if not group %}
<form action="" method="POST">
	{% csrf_token %}

	<input name="code" placeholder="enter code" value="code">
	<button name="submit" type="submit"> enter </button>
</form>
	
		{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	

	{% for c in classroom %}
		classroom:{{ c.name }}
		<br>
		teacher:{{ c.teacher }}
		<br>
		description:{{ c.description|truncatechars:10}}
		<hr>
	{% endfor%}
{% endif %}

