{% load bootstrap %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">
     <script src="/static/js/confirm-bootstrap.js"></script>

  </head>

  <body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/post">Home</a>
          <a class="blog-nav-item" href="/post/create/">Write A Blog</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"> </h1>
        
      </div>

      <div class="row">
        {% block content%}
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title"> </h2>
            <p class="blog-post-meta"></p>
			<a href="/blog/{{post.id}}">{{ instance.title }}</a>
			<div class ="post_meta">
				{{ instance.timestamp|timesince }} ago by {{instance.author}}
        <div class="pull-right">
          <a  class="btn btn-primary btn-sm" href="/{{username}}/post/{{instance.id}}/edit">Edit</a>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete!!</h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-body"> Are You Sure?</h4>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a class="btn btn-primary" href="/{{username}}/post/{{instance.id}}/delete">Delete</a>
      </div>
    </div>
  </div>
</div>
        </div>

			<br>
      <p>
      <div class="fb-like" data-href="{{ request.build_absolute_url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></p>
      </div>

      </div>
<br>
			<div class ="post_body">
				{{ instance.content|safe|linebreaks}}
			</div>
      <h3>Comments</h3>
      <form method="POST" action=".">{% csrf_token %}
        {{form|bootstrap}}
        <input type="submit" name="create comment" class="btn btn-default">

      </form>
      <br>
       <div class="comments" >
          {% for comment in comments  %}
          <div style="padding-left:10px;border-left:5px solid #2C82C9">
            {{ comment.content }}
            <br/>
            <small>via {{ comment.user }} {{ comment.timestamp|timesince }} ago</small><hr/>
          </div>
      
          {% endfor %}


        </div>
        </div><!-- /.blog-main -->
       
        {% endblock %}            
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>&copy2016   built on <a href="https://www.djangoproject.com/">Django</a> by <a href="https://github.com/rohitchopra32">@Rohit Chopra</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <script src="post/static/js/jquery.min.js"></script>
    <script src="post/static/js/bootstrap.min.js"></script>  

</body></html>